<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title th:text="${mustSee[0].ku}">00구</title>
	    <link rel="stylesheet" th:href="@{/css/tab.css}">
	    
	</head>
	<body>
	    <h3 th:text="${mustSee[0].ku}+'에 가볼만한곳(사진클릭)'">구에 가볼만한 곳</h3>
	    <div class="gallery">
<!-- 	        <input type="radio" id="streetBtn"name="tabBtn" checked>
	        <label for="streetBtn" th:text="${mustSee[0].title}">여행지1타이틀</label>
	        <input type="radio" id="parkBtn"name="tabBtn"checked>
	        <label for="parkBtn"th:text="${mustSee[1].title}">여행지2타이틀</label>
	        <input type="radio" id="museumBtn"name="tabBtn"checked>
	        <label for="museumBtn"th:text="${mustSee[2].title}">여행지3타이틀</label>
	         -->
	         <!-- 동적으로 탭 생성 -->
	        <th:block th:each="spot, i : ${mustSee}">
	        	<input type="radio" th:id="spot+${i.index+1}"   name="tabBtn" checked>
	        	<label th:for="spot+${i.index+1}" th:text="${mustSee[i.index].title}">여행지타이틀</label>
	        </th:block>
	        
	        <!-- 동적으로 콘텐츠 생성 -->
	        
	        <div class="tabContents">
        	<th:block th:each="spot, i : ${mustSee}">
  	        	<div th:id="content+${i.index+1}" class="tabContent">
	                <h3 th:text="${spot.title}">여행지명</h3>
	                <p th:text="${spot.content}">내용이 들어감</p>
	                <a th:href="@{https://place.map.kakao.com/}+${spot.kakaoAddress}">                
	                    <img th:src="@{/}+${spot.imgAddress}" alt="여행지사진">
	                </a>
	            </div>
            </th:block>
	        </div>
	
<!-- 	        <div class="tabContents">
	            <div id="street"class="tabContent">
	                <h3 th:text="${mustSee[0].title}">여행지명</h3>
	                <p th:text="${mustSee[0].content}">내용이 들어감</p>
	                <a th:href="@{https://place.map.kakao.com/}+${mustSee[0].kakaoAddress}">                
	                    <img th:src="@{/}+${mustSee[0].imgAddress}"alt="여행지사진">
	                </a>
	            </div>
	            <div id="park"class="tabContent">
	                <h3 th:text="${mustSee[1].title}">이름</h3>
	                <p th:text="${mustSee[1].content}">내용</p>
	                <a th:href="@{https://place.map.kakao.com/}+${mustSee[1].kakaoAddress}">
	                    <img th:src="@{/}+${mustSee[1].imgAddress}"alt="여행지사진">
	                </a>
	            </div>
	            <div id="museum"class="tabContent">
	                <h3 th:text="${mustSee[2].title}">이름</h3>
	                <p th:text="${mustSee[2].content}">내용</p>
	                <a th:href="@{https://place.map.kakao.com/}+${mustSee[2].kakaoAddress}">
	                    <img th:src="@{/}+${mustSee[2].imgAddress}"alt="사진">
	                </a>
	            </div>
	        </div> -->
	        
	    </div>
	 
	</body>

</html>